<div class="mb-3">
    <div class="row">
        <div class="col-6">
            <label for="" class="form-label">Nome</label>
            <input type="text" class="form-control" placeholder="Digite o nome" aria-describedby="nome do suplemento ">   
        </div>
        <div class="col-6">
            <label for="" class="form-label">Categoria</label>
            <input type="text" class="form-control" placeholder="Digite a categoria" aria-describedby="categoria do suplemento ">   
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="" class="form-label">Descrição</label>
            <input type="text" class="form-control" placeholder="Digite a descrição" aria-describedby="descrição do suplemento ">   
        </div>
        <div class="col-6">
            <label for="" class="form-label">Preço</label>
            <input type="number" class="form-control" placeholder="Digite o preço" aria-describedby="preço do suplemento ">   
        </div>
    </div>
    <input name="" id="" class="btn btn-primary mt-2" type="button" value="Salvar">
</div>