<!-- <app-the-basics-wrapper></app-the-basics-wrapper> -->
<!-- <app-components-databinding-wrapper></app-components-databinding-wrapper> -->
<!-- <app-root-07-directives-deep-dive></app-root-07-directives-deep-dive> -->
<!-- <app-root-09-using-services-and-di></app-root-09-using-services-and-di> -->
<!-- <app-root-11-changing-pages-with-routing></app-root-11-changing-pages-with-routing> -->
<!-- <app-root-13-understanding-observables></app-root-13-understanding-observables> -->
<!-- <app-root-15-handling-forms></app-root-15-handling-forms> -->
<!-- <app-root-17-pipes></app-root-17-pipes> -->
<app-root-18-making-http-requests></app-root-18-making-http-requests>