<div class="container">
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary"
        (click)="onChangeFirst()"
      >Changes first element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first component</button>
      <app-server-element 
        *ngFor="let item of serverElements"
        [srvElement]="item"
        [name]="item.name">

        <p>
          <strong *ngIf="item.type === 'server'" style="color: red">{{ item.content }}</strong>
          <em *ngIf="item.type === 'blueprint'" style="color: blue;">{{ item.content }}</em>
        </p>

        <!-- <app-cockpit></app-cockpit> -->

      </app-server-element>
    </div>
  </div>
</div>
